{% extends 'base.html.twig' %}
{% block body %}
    <div class="afficherVille">
        <h1>Gérer les sites</h1>
        <h2>Filtrer les sites :</h2>
        <p>Le nom contient : </p>
        <div class="offset-4 col-4">
            {{ form(recherche) }}
        </div>
    </div>

    <div class="afficherVille">
        <form>



        </form>

        <br>
        <div class="table ville offset-3 col-8">
            <table>
                <thead class="thead-dark">
                <tr>
                    <th>Ville</th>
                    <th>Actions</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td style="color:white"> {{ site.nom }} </td>
                        <td><a href="{{ path("supprimer_site",{'id':site.id}) }}" style="color:#007bff"> Supprimer </a></td>
                        <td><a href="{{ path("modifier_site",{'id':site.id}) }}" style="color:#007bff"> Modifier </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
        <button  class="btn btn-p btn-primary"><a href="{{ path("formulaire_ville") }}">Ajouter</a></button>
    </div>

{% endblock %}