{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Bonjour {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
        <div class="login">
            <h1 class="h1 mb-3 font-weight-normal loginh1">Se connecter</h1>

            <label for="inputMail" class="">Email</label>
            <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control boxLogin" required
                   autofocus>
            <br>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control boxLogin" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {# ... your form fields #}

            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Se souvenir de moi</label>

            {# ... #}

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            {#        If you want to control the URL the user#}
            {#        is redirected to on success (more details below)#}

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </div>
    </form>
{% endblock %}
