{% extends 'base.html.twig' %}
{% block body %}
    <div class="register">

        {{ form_start(registerForm) }}


        <div class="row ">

            <div class="col-4 ">

                {{ form_row(registerForm.nom) }}
            </div>

            <div class="col-4">
                {{ form_row(registerForm.prenom) }}

            </div>

        </div>
        <div class="row">

            <div class="col-4">

                {{ form_row(registerForm.username) }}
            </div>

            <div class="col-4">

                {{ form_row(registerForm.telephone) }}
            </div>

        </div>

        <div class="row">

            <div class="col-4">
                {{ form_row(registerForm.mail) }}

            </div>

            <div class="col-4">

                {{ form_row(registerForm.site) }}
            </div>
{% if is_granted('ROLE_ADMIN') %}
            <div class="col-4">
                {{ form_row(registerForm.actif) }}

            </div>
{% endif %}
        </div>


        <div class="row">

            <div class="col-4">

                {{ form_row(registerForm.password) }}
            </div>

            <div class="col-4">
                {{ form_row(registerForm.passwordVerif) }}

            </div>
            <div class="col">

                {{ form_row(registerForm.actif) }}

            </div>

        </div>
        <div class="row">

            <div class="col text-center">

                {{ form_row(registerForm.envoyer) }}
            </div>



        </div>


        {{ form_end(registerForm) }}

    </div>


{% endblock %}