{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <script>

    </script>
{% endblock %}

{% block body %}
    <div class="sortie">
        {{ form_start(sortieForm) }}

        <div class="row">
            <div class="col-4 ml-5">

                {{ form_row(sortieForm.nom) }}

            </div>
            <div class="col-4">
                {{ form_row(sortieForm.lieu) }}

            </div>
            <div class="col-1 mt-4">

                <a href="{{ path('ajouterLieu') }}" ><img src="img/addBtn.jpeg" alt="Ajouter un lieu"  width="50" height="50" class="imgT"/></a>

            </div>

        </div>

        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.dateHeureDebut) }}

            </div>
            <div class="col-4">
Ville : {{ detail.lieu }}

            </div>

        </div>


        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.dateLimiteInscription) }}


            </div>
            <div class="col-4 ">
Code Postal : {{ detail.test2 }}

            </div>

        </div>
        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.nbInscriptionMax) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.duree) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.infoSortie) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 ml-5">

            </div>
        </div>


        <div class="row">

            <div class="col-2">
               {{ form_row(sortieForm.enregistrer) }}

            </div>
            <div class="col-2">
              {{ form_row(sortieForm.publier) }}

            </div>
            <div class="col-2">
                <a href="{{ path('base') }}">{{ form_row(sortieForm.annuler) }}</a>

            </div>

        </div>



        {{ form_end(sortieForm) }}

    </div>

{% endblock %}

