{% extends 'base.html.twig' %}
{% block body %}
    <h1>Mon profil :</h1>
    <div class="row">
        <div class="col-8 offset-2">
            {{ participant.username }}
            <p>Prénom : {{ participant.prenom }}</p>
            <p>Nom : {{ participant.nom }}</p>
            <p>Téléphone : {{ participant.telephone }}</p>
            <p>Email : {{ participant.mail }}</p>
<<<<<<< HEAD
            <p>Site de rattachement : </p>
=======
            <p>Site de rattachement :{{ participant.site.nom }} </p>
>>>>>>> 8e25d2e29e3b2a0b968de8886562794ae4e3b3ac
            <a href="{{ path('modifier',{'id':participant.id}) }}"><button type="submit">Modifier</button></a>
        </div>
    </div>

    {# Affichage des Flashes #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div>{{ label }} : {{ message }}</div>
        {% endfor %}
    {% endfor %}

{% endblock %}