{% extends 'base.html.twig' %}

{% block body%}

    <div class="fond">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nom du participant</th>
            <th>Détail</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
        <tr>
            <td> {{ participant.nom }}</td>
            <td><a href="{{ path("detailParticipant",{'id':participant.id})}}"> detail </a></td>
            <td>{% if app.user.isSupprimable() %}<a href="{{ path('suppressionUser',{'id':participant.id}) }}">suppression user</a>{% endif %}</td>

{#            <td> {{ listeSortie.idInscr.count() }} / {{ listeSortie.nbInscriptionMax }}</td>#}
{#            <td> {{ listeSortie.etat }}</td>#}
{#            {% if app.user.isInscrit(listeSortie) %}#}
{#                <td>X</td>#}
{#            {% endif %}#}
{#            <td><a href="{{ path('detail',{'id':listeSortie.id}) }}">afficher</a></td>#}
{#            <td><a href="{{ path('modifier',{'id':listeSortie.id}) }}">modifier</a></td>#}

{#            {% if app.user.isInscrit(listeSortie) %}#}
{#                <td><a href="{{ path('desinscrire',{'id':listeSortie.id}) }}">se désinscrire</a></td>#}
{#            {% else %}#}
{#                <td><a href="{{ path('inscriptionSortie',{'id':listeSortie.id}) }}">s'inscrire</a></td>#}
{#            {% endif %}#}
            {% endfor %}


        </tbody>
    </table>

        <div class="fond">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Détail</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td> {{ sortie.nom }}</td>
            <td> {{   sortie.dateHeureDebut | date('d/m/Y') }}</td>
            <td><a href="{{ path("detailSortie",{'id':sortie.id}) }}"> detail </a></td>
            <td>{% if sortie.isSuppSortie(app.user) %}<a href="{{ path('suppressionSortie',{'id':sortie.id}) }}">suppression sortie</a>{% endif %}</td>

{#            <td> {{ listeSortie.idInscr.count() }} / {{ listeSortie.nbInscriptionMax }}</td>#}
{#            <td> {{ listeSortie.etat }}</td>#}
{#            {% if app.user.isInscrit(listeSortie) %}#}
{#                <td>X</td>#}
{#            {% endif %}#}
{#            <td><a href="{{ path('detail',{'id':listeSortie.id}) }}">afficher</a></td>#}
{#            <td><a href="{{ path('modifier',{'id':listeSortie.id}) }}">modifier</a></td>#}

{#            {% if app.user.isInscrit(listeSortie) %}#}
{#                <td><a href="{{ path('desinscrire',{'id':listeSortie.id}) }}">se désinscrire</a></td>#}
{#            {% else %}#}
{#                <td><a href="{{ path('inscriptionSortie',{'id':listeSortie.id}) }}">s'inscrire</a></td>#}
{#            {% endif %}#}
            {% endfor %}


        </tbody>
    </table>
{% endblock %}

