{% extends 'base.html.twig' %}
{% block body %}

    <div class="sortie">

{#                ------------------------------------------#}
        <h1>Annuler une sortie</h1>
        <div class="row">
            <div class="col-4">
               <strong>Nom de la sortie :</strong>  <label for="nom">{{ sortie.nom }}</label>

            </div>
        </div>
            {#                ------------------------------------------#}
<div class="row">

    <div class="col-4">
        <strong>Date et Heure de début :</strong><br> <label for="nom">{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</label>

    </div>
</div>
            {#                ------------------------------------------#}
            <div class="row">

                <div class="col-4">
                    <strong>Durée :</strong> <label for="nom">{{ sortie.duree }}</label>&nbsp;Minutes

                </div>
            </div>

            {#                ------------------------------------------#}



        <div class="row">
            <div class="col-3">
              <strong> Date limite d'inscription :</strong>  <label
                        for="nom">{{ sortie.dateLimiteInscription  | date('d/m/Y H:i') }}</label>

            </div>
        </div>

        {#                ------------------------------------------#}

      <div class="row">


          <div class="col-4">
             <strong>Info : </strong> <label for="nom">{{ sortie.infoSortie }}</label>

          </div>
      </div>
        {#                ------------------------------------------#}
        <div class="row">
            <div class="col-3">
             <strong> Site :</strong>   <label for="nom">{{ sortie.sites.nom }}</label>


            </div>
        </div>

        {#                ------------------------------------------#}



            <strong> Ville :</strong>   <span>{{ sortie.lieu.ville }}</span> <br>
              <strong>Rue : </strong>  <span>{{ sortie.lieu.rue }}</span> <br>
          <strong> Code Postal</strong>  : &nbsp    <span>{{ sortie.lieu.ville.codePostal }}</span>




        {{ form_start(sortieForm) }}
        <div class="row">

        <div class="col">
       <label for="nom">{{ form_row(sortieForm.motifAnnulation) }}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-4">

         {{ form_row(sortieForm.confirmer) }}


        </div>

        <div class="col-4">
            <a href="{{ path('liste') }}"> {{ form_row(sortieForm.annuler) }}</a>

        </div>


        <div class="col-4">


        </div>
        {{ form_end(sortieForm) }}

    </div>


    </div>





{% endblock %}