{% extends 'base.html.twig' %}
{% block body %}
    <!-- colonne de gauche -->
    <ul class="list-group-left">
        <li class="list-group-item">Nom de la sortie : {{ sorties.nom }}</li>
        <li class="list-group-item">Date et heure de la sortie : {{ sorties.dateHeureDebut | date('d/m/Y') }}</li>
        <li class="list-group-item">Date limite d'inscription :  {{ sorties.dateLimiteInscription | date('d/m/Y') }}</li>
        <li class="list-group-item">Nombre de places :  {{ sorties.nbInscriptionMax }}</li>
        <li class="list-group-item">Durée : {{ sorties.duree | date('d/m/Y') }}</li>
        <li class="list-group-item">Description et infos : {{ sorties.infoSortie}}</li>
    </ul>
    <!-- fin de colonne de gauche -->

    <!-- colonne de droite -->
    <ul class="list-group-right">
        <li class="list-group-item">Lieu : {{ sorties.lieu.nom }}</li>
        <li class="list-group-item">Rue : {{ sorties.lieu.rue }}</li>
        <li class="list-group-item">Ville : {{ sorties.lieu.ville.nom }}</li>
        <li class="list-group-item">Code postal : {{ sorties.lieu.ville.codePostal }}</li>
        <li class="list-group-item">Latitude : {{ sorties.lieu.latitude }}</li>
        <li class="list-group-item">Longitude : {{ sorties.lieu.longitude }}</li>
    </ul>
   <!-- fin de colonne de droite -->

    <!-- liste des participants inscrits : -->
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Pseudo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ sorties.organisateur.nom  }}</td>
            <td>{{ sorties.organisateur.username  }}</td>
        </tr>
        </tbody>
    </table>
    <!-- fin de la liste des inscrits -->

{% endblock %}