{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <script>

    </script>
{% endblock %}

{% block body %}
    <div class="sortie">
        {{ form_start(sortieForm) }}

        <div class="row">
            <div class="col-4 ml-5">

                {{ form_row(sortieForm.nom) }}

            </div>
            <div class="col-4">
                {{ form_row(sortieForm.lieu) }}

            </div>
            <div class="col-1 mt-4">

                <a href="{{ path('ajouterLieu') }}"><img src="img/addBtn.jpeg" alt="Ajouter un lieu" width="50"
                                                         height="50" class="imgT"/></a>

            </div>

        </div>

        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.dateHeureDebut) }}

            </div>
            <div class="col-4">

                <label for="ville" >Ville : &nbsp;  </label><span id="ville"></span>

            </div>

        </div>


        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.dateLimiteInscription) }}


            </div>
            <div class="col-4 ">
                <label for="rue" >Rue : &nbsp;  </label><span id="rue"></span>


            </div>

        </div>
        <div class="row">
            <div class="col-4 ml-5 ">
                {{ form_row(sortieForm.nbInscriptionMax) }}
            </div>

            <div class="col-4">
                <label for="ville" >Code Postal :  &nbsp; </label><span id="CP"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.duree) }}
            </div>
            <div class="col-4">

                <label for="ville" >Latitude :  &nbsp; </label><span id="Lat"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ml-5">
                {{ form_row(sortieForm.infoSortie) }}
            </div>
            <div class="col">

                <label for="ville" >Longitude :  &nbsp; </label><span id="Long"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ml-5">

            </div>
        </div>

        <p id="test3-js"></p>
        <div class="row">

            <div class="col-2">
                {{ form_row(sortieForm.enregistrer) }}

            </div>
            <div class="col-2">
                {{ form_row(sortieForm.publier) }}

            </div>
            <div class="col-2">
                <a href="{{ path('liste') }}">{{ form_row(sortieForm.annuler) }}</a>

            </div>

        </div>


        {{ form_end(sortieForm) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function updateLieu(value) {
            console.log(value);
            let path = "{{ url('lieu', {"id": "id"}) }}";
            let xhr = new XMLHttpRequest();
            xhr.open("get", path.replace("id", value));
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    lieu = JSON.parse(xhr.responseText);
                    // mettre à jour le DOM avec les données dans lieu
                 document.getElementById('ville').innerHTML = lieu.ville;
                    document.getElementById('CP').innerHTML = lieu.CP;
                    document.getElementById('rue').innerHTML = lieu.lieuRue;
                    document.getElementById('Lat').innerHTML = lieu.Lat;
                    document.getElementById('Long').innerHTML = lieu.Long;

                }


            };
            xhr.send();


        }


    </script>
{% endblock %}