{% extends 'base.html.twig' %}
{% block body %}

    <header>
        <h1>Filtrer les sorties :</h1>
        <div class="col-sm-3">
            <p> Date du jour : {{ "now" | date('d-m-Y') }}</p>
            <p> Participant : {{ app.user.username }}</p>
        </div>
    </header>
<div class="row">
        <div class="col-4">
{{ form_row(recherche.RechercheSortie) }}
{{ form_row(recherche.RechercheSite) }}
        </div>
    <div class="col-4">
{{ form_row(recherche.DateDebut) }}
{{ form_row(recherche.DateFin) }}
        </div>
    <div class="col-4">
{{ form_row(recherche.isInscrit) }}
{{ form_row(recherche.SortiePasse) }}
{{ form_row(recherche.isOrganisateur) }}
{{ form_row(recherche.rechercher) }}
        </div>
</div>



    <!-- tableau de liste des sorties : -->
    <div class="fond">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
            <th> </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for listeSortie in listeSorties %}
        <tr>
            <td> {{ listeSortie.nom }}</td>
            <td> {{ listeSortie.dateHeureDebut | date('d/m/Y') }}</td>
            <td> {{ listeSortie.dateLimiteInscription | date('d/m/Y') }}</td>
            <td> {{ listeSortie.idInscr.count() }} / {{ listeSortie.nbInscriptionMax }}</td>
            <td> {{ listeSortie.etat }}</td>
            {% if app.user.isInscrit(listeSortie) %}
                <td>X</td>
                {% else %}
                <td> </td>
            {% endif %}
            <td><a href="{{ path('monProfil',{'id':listeSortie.id}) }}">{{ listeSortie.organisateur.nom }}</td></a>
            <td><a href="{{ path('detail',{'id':listeSortie.id}) }}">afficher</a></td>
            <td><a href="{{ path('modifier',{'id':listeSortie.id}) }}">modifier</a></td>

            {% if app.user.isInscrit(listeSortie) %}
                {% if listeSortie.dateHeureDebut | date('d/m/Y') > "now"  | date('d-m-Y') %}
                    <td><a href="{{ path('desinscrire',{'id':listeSortie.id}) }}">se désinscrire</a></td>
                {% endif %}
            {% else %}
                {% if listeSortie.idInscr.count() < listeSortie.nbInscriptionMax %}
                    {% if listeSortie.dateLimiteInscription | date('d/m/Y') > "now"  | date('d-m-Y') %}
                        <td><a href="{{ path('inscriptionSortie',{'id':listeSortie.id}) }}">s'inscrire</a></td>
                    {% endif %}
                {% endif %}
            {% endif %}
        </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- fin du tableau de liste des sorties : -->

    <button><a href="{{ path('sortie') }}">Créer une sortie</a></button>

{% endblock %}