{% extends 'base.html.twig' %}
{% block body %}

    <header>
        <h1>Filtrer les sorties :</h1>

        <form action="" method="post">
            <label for="recherche">Recherche:</label>
            <input type="text" id="recherche" name="_recherche"  />

            <button type="submit">Rechercher</button>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Sites :</label>
        <select class="form-control" id="exampleFormControlSelect1">
            {% for site in sites %}
                <option value="{{ site.id }}"> {{ site.nom }}</option>
            {% endfor %}
        </select>
    </div>

    </form>
    </header>

    <!-- tableau de liste des sorties : -->
    <div class="fond">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for listeSortie in listeSorties %}
                    <tr>
                    <td> {{ listeSortie.nom }}</td>
                    <td> {{ listeSortie.dateHeureDebut | date('d/m/Y') }}</td>
                    <td> {{ listeSortie.dateLimiteInscription | date('d/m/Y') }}</td>
                    <td> {{ listeSortie.idInscr.count() }} / {{ listeSortie.nbInscriptionMax }}</td>
                    <td> {{ listeSortie.etat }}</td>
                    <td><a href="{{ path('detail',{'id':listeSortie.id}) }}">afficher</a></td>
                        <td><a href="{{ path('modifier',{'id':listeSortie.id}) }}">modifier</a></td>

                   {% if app.user.isInscrit(listeSortie) %}
                       <td><a href="{{ path('desinscrire',{'id':listeSortie.id}) }}">se désinscrire</a></td>
                        {% else %}
                            <td><a href="{{ path('inscriptionSortie',{'id':listeSortie.id}) }}">s'inscrire</a></td>
                    {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <!-- fin du tableau de liste des sorties : -->

    <button><a href="{{ path('sortie') }}">Créer une sortie</a></button>

{% endblock %}