
{% extends 'base.html.twig' %}
{% block body %}
    <div class="afficherVille">
        <h1>Gérer les villes</h1>
        <h2>Filtrer les villes :</h2>
        <p>Le nom contient : </p>
        <div class="offset-4 col-4">
            {{ form(recherche) }}
        </div>
    </div>

    <div class="afficherVille">
        <form>


        </form>

        <br>
        <div class="table ville offset-3 col-8">
            <table>
                <thead class="thead-dark">
                <tr>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Action</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for ville in villes %}
                    <tr>
                        <td style="color:white"> {{ ville.nom }} </td>
                        <td style="color:white"> {{ ville.codePostal }} </td>
                        <td>{% if ville.isSupprimableVille(app.user) %}<a
                                href="{{ path("supprimer_ville",{'id':ville.id}) }}" style="color:#007bff">
                                    Supprimer </a>{% endif %}</td>
                        <td>{% if ville.isModifiableVille(app.user) %}<a
                                href="{{ path("modifier_ville",{'id':ville.id}) }}" style="color:#007bff">
                                    Modifier </a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
        <button class="btn btn-p btn-primary"><a href="{{ path("formulaire_ville") }}">Ajouter</a></button>
    </div>

{% endblock %}