{% extends 'base.html.twig' %}
{% block body %}
<h1>Gérer les lieux</h1>
    <h2>Filtrer les lieux :</h2>
    <p>Le nom contient : </p>
    <form>
        <div>
            <input type="search" id="maRecherche" name="q">
            <button>Rechercher</button>
        </div>
    </form>

    <br>
    <div class="table ville">
    <table>
        <thead class="thead-dark">
        <tr>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
        <tr>
            <td> {{ ville.nom }}</td>
            <td> {{ ville.codePostal }}</td>
            <td><a href="{{ path("supprimer_ville",{'id':ville.id}) }}"> Supprimer </a></td>
            {#              <td><a href="{{ path("lieu_modifier",{'id':ville.id}) }}"> X </a></td>#}
            {% endfor %}
        </tbody>
    </table>
        <br>
    </div>
    <button><a href="{{ path("formulaire_ville") }}">Ajouter</a></button>

{% endblock %}